body {
margin: 50px 50px;
background-color: white;
}

nav {
    border: 2px solid #305581;
    background-color: #c0c0c0;
    width: 230px;
    height: 310px;
    padding-left: 30px;
    padding-top: 10px;
    

  }

nav a {
    color: #305581;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
line-height: 25px;
}


a:hover {
    color: #009d99;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #305581;
    text-align: center;
}

.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5e5e5e;
}

#link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #424242;
}

span {
    color: #5e5e5e;
    font-size: 18px;
}

.main-content {
    background-color: #c0c0c0;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid black;
}

form {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
    line-height: 30px;
}

/* Changing format of button */
form button {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px 30px;
}

@media print {
    body {
        padding: 30px 30px;
    }
}